
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');
@import url('https://fonts.googleapis.com/css?family=Nobile:700|Saira+Condensed');

body{
    background-color: #e6e6e6;
}
.w-box{
    background-color: white;
}

.logo {
    margin-top: 50px;
    height: 100px;
}

.logo-image {
    position: relative;
    bottom: 50px;
    max-width: 200px;
}

.center-font{
    padding-top:15px;
    font-size:5em;
    font-family: 'Saira Condensed', sans-serif;
}
ul, li{
    list-style: none;
    display: inline-block;
   padding: 12px;
    font-size: 18px;

}
ul{
    padding: 0;

}
.body-heading {
    font-size: 3.5em;
    font-weight: bolder;
    font-family: 'Nobile', sans-serif;
    padding-bottom: 30px;

}
.body-heading-two {
    padding-bottom: 60px;
}
.row {
    /*padding-bottom: 5px;*/
}
.circle {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    border: 8px solid white;
}

#red {
    background-color: #e6563b;
}
#orange{
    background-color: #df9f3d;

}

#green{
    background-color: #7cb06c;
}
#turquoise{
    background-color: #00aba9;
}


div.col-xs-6 {
    padding-left: 20px;
}
#turquoise-circle {
    padding-top: 10px;
    padding-bottom: 150px;
}
#green-circle {
    padding-top: 10px;
    padding-bottom: 150px;

}

.text-center-footer{
    font-family: 'Saira Condensed', sans-serif;
}
