@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');
@import url('https://fonts.googleapis.com/css?family=Nobile:700|Saira+Condensed');


body{
    background-color: #f0f0f0;
}
.w-box{
    background-color: white;
}

.logo {
    margin-top: 50px;
    height: 100px;
    clear:both;
}

.logo-image {
    position: relative;
    bottom: 50px;
    max-width: 200px;
}

.center-font{
    padding-top:15px;
    font-size:5em;
    font-family: 'Saira Condensed', sans-serif;
}
ul, li{
    list-style: none;
    display: inline-block;
    padding: 12px;
    font-size: 18px;

}
ul{
    padding: 0;

}
.body-heading {
    font-size: 3.5em;
    font-weight: bolder;
    font-family: 'Nobile', sans-serif;
    padding-bottom: 30px;

}
.body-heading-two {
    padding-bottom: 60px;
}
.row {
    /*padding-bottom: 5px;*/
}
.circle {
    border-radius: 100%;
    height:200px;
    width: 200px;
    border: 14px solid white;
}

#red {
    background-color: #e6563b;
}
#orange{
    background-color: #df9f3d;

}

#green{
    background-color: #7cb06c;
}
#turquoise{
    background-color: #00aba9;
}


div.col-xs-6 {
    padding-left: 20px;
}
#turquoise-circle {
    padding-top: 10px;
    padding-bottom: 150px;
}
#green-circle {
    padding-top: 10px;
    padding-bottom: 150px;

}
#red-small{
    background-color: #e6563b;
}
#orange-small {
    background-color: #df9f3d;
}
#green-small{
    background-color: #7cb06c;
}
#turquoise-small {
    background-color: #00aba9;
}
.text-center-footer{
    font-family: 'Saira Condensed', sans-serif;
    padding-bottom: 55px;
}
.h2-center {
    padding-top: 50px;
    color: white;
    font-weight: bold;
    font-family: 'Nobile', sans-serif;
}
.img-border-rounded {
    border: 15px solid #e6e6e6;
    border-radius: 2%;
}
.h2-text-right {
    font-family: 'Saira Condensed', sans-serif;
}
.small-circles {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    font-family: 'Nobile', sans-serif;
    margin: 5px;
    padding-top: 3px;
}

.circles-right {
    padding-right: 0;
    padding-left: 35px;
    padding-top: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {

    .navbar-xs {
        display: none;
    }

    .logo {
        position: relative;

    }

    .logo-image {
        top: -160px;
    }

    .top-menu li:nth-child(2) {
        padding-right: 220px;
        padding-top: 40px;

    }

    .row-circle {
        display: inline;
        clear: both;
    }

    #red-circle-sm {
        background-color: #e6563b;
        padding-right: 5px;
    }

    #green-circle-sm {
        background-color: #7cb06c;
    }

    #orange-circle-sm {
        background-color: #df9f3d;
    }

    #turquoise-circle-sm {
        background-color: #00aba9;

    }

    .left-circle-pad {
        padding-left: 40px;
    }

    .circle {
        border-radius: 100%;
        height: 170px;
        width: 170px;
        border: 10px solid white;
        float: left;
        margin-left: 10px;

    }

    .h2-center {
        padding-top: 35px;
        color: white;
        font-weight: bold;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 30px;
    }

    .page-header {
        font-size: 45px;
    }

    .body-heading {
        text-after-overflow: auto;
    }

    .body-heading strong {
        width: 100%;
        text-align: center;
        font-size: 40px;
        margin-right: -90px;
        margin-left: -90px;
    }

    .w-box {
        margin-right: 0;
        margin-left: 0;

    }
    .row-small-pics:nth-child(3){
        height: 25%;
    }
    .circles-right{
        border-radius: 20%;
    }
    .h2-text-right {
        font-size: 15px;
        padding-right: 50px;
    }
    .quick_fix {
        width: 370px;
        height: 239px;
    }
    .small-circles{
        margin: 0;
        margin-bottom: 20px;
    }
    .circles-right {
        padding-right:0;
        padding-left: 20px;,
    margin-right: 2px;
    }
    div.col-xs-6 {
        padding-left: 0;
    }
    div#red-small.small-circles, div#orange-small.small-circles, div#green-small.small-circles, div#turquoise-small.small-circles {
        margin: 0 2px;
    }
    div.col-xs-6.circles-right.hidden-xs{
        padding-bottom: 60px;
    }
    img.img-response.img-border-rounded.hidden-xs{
        padding-right:10px;
    }
    .line-break{
        background-color: black;


    }
}