body{
    background-color: #f0f0f0;
}
.col-xs-12{
    background-color: white;
}

.logo {
    margin-top: 50px;
    height: 100px;
}

.logo-image {
    position: relative;
    bottom: 50px;
    max-width: 200px;
}
